body{
    background-color: bisque;
}

.itemTwoColor{
    color: blueviolet;

}

.itemThreeFonts{
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.itemFourSize{
    font-size: 3rem;
}

.itemFiveImage{
    background-image: url(../assets/4a29e932728a1b316b56e9b5d77d9191.jpg);
    height: 400px;
    width: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.buttonchange7{
    color: chocolate;
}

.buttonchange8{
    font-size: 2rem;
    color: crimson;
}

.buttonchange9{
    color: seagreen;
    font-weight: bold;
}

.buttonchange10{
    font-style: italic;
    color: darkcyan;
    
}

